@use '../../../styles';

$header-min-height: 50px;

header {
  @extend %dis-block;
  @extend %width-parent;
  @extend %layer-chrome;
  background-color: styles.$color-foreground-default;
  color: styles.$color-background-default;
  min-height: $header-min-height;
}
