<svg
  [style.height.px]="this.heightPx"
  [style.width.px]="this.widthPx"
  [attr.viewBox]="viewBox" xmlns="http://www.w3.org/2000/svg">
  <ng-container *ngFor="let ps of paths; index as ndx; trackBy:trackByPath">
    <path *ngFor="let p of ps.paths"
          [@drawn]="ps.drawn"
          (@drawn.done)="pathDrawDone(ps.id)"
          [attr.stroke]="p.stroke"
          [attr.fill]="p.fill ? p.fill : 'none'"
          [attr.stroke-width]="p.strokeWidth"
          [attr.pathLength]="100"
          [attr.d]="p.d" />
  </ng-container>
</svg>
