@use '../../styles';

:host {
  @extend %flex-h;
  position: relative;
}

div[role="list"] {
  @extend %flexible;
  max-width: 800px;
}

div[role="img"] {
  @extend %inflexible;
  background: styles.$color-content-background;
}
