@use '../../styles';

:host {
  @extend %flex-h;
  @extend %pos-relative;
}

div[role="list"] {
  @extend %mv-default;
  @extend %flexible;

  aj-timeline-project:not(:first-child) {
    @extend %mt-default;
  }
  aj-timeline-project:not(:last-child) {
    @extend %mb-default;
  }
}

div[role="img"] {
  @extend %inflexible;
  width: max-content;
}
