@use '../../styles';

:host {
  @extend %display-block;
  @extend %position-relative;

  &:not(:first-child) {
    @extend %mt-loose;
  }

  &:not(:last-child) {
    @extend %mb-loose;
  }

  .time-range {
    @extend %flex-container-horizontal;
    @extend %justify-content-flex-start;
    @extend %position-relative;
    @extend %p-tight;
    font-style: italic;
    color: styles.$color-font-muted;

    > * {
      @extend %ph-tight;
    }
  }

  section {
    @extend %p-loose;
    @extend %position-relative;
    background: styles.$color-content-background;
    border-radius: styles.$spacing-default;
    box-shadow: styles.$shadow;

    header {
      font-size: 2 * styles.$size-root;
      @extend %sb-tight;
      border-bottom: 1px solid styles.$color-background-default;
    }

    ::ng-deep {
      h1 {
        font-size: 1.5 * styles.$size-root
      }
      h2, h3 {
        font-size: 1.0 * styles.$size-root
      }
      ol, ul {
        padding-left: styles.$size-root * 2;
      }
      p, ol, ul {
        @extend %mv-tight;
      }
    }

    footer {
      @extend %border-width-thin;
      @extend %border-style-dotted;
      border-color: styles.$color-background-default;
      @extend %mt-loose;
      @extend %pt-tight;
      @extend %flex-container-horizontal;
      @extend %justify-content-center;
      flex-wrap: wrap;

      $border-radius: 4px;

      > a {
        font-size: small;
        font-weight: styles.$font-weight-normal;
        @extend %flex-item-static;
        background-color: white;
        //@extend %display-inline-block;
        display: inline-block;
        @extend %s-tight;
        @extend %border-width-thin;
        @extend %border-style-solid;
        border-color: styles.$color-background-accent;
        border-radius: $border-radius;
        color: styles.$color-font-default;

        &:hover {
          @extend %border-style-solid;
          border-width: 2px;
          margin: $border-radius - 1px;
          text-decoration: none;
        }
      }
    }
  }
}

