<div class="time-range" #timeRange>
  <time [dateTime]="project.startDate.toISOString()">{{ project.startDate | date:'MMMM yyyy' }}</time>
  <span>—</span>
  <time *ngIf="project.endDate" [dateTime]="project.endDate.toISOString()">{{ project.endDate | date:'MMMM yyyy'  }}</time>
  <time *ngIf="!project.endDate" [dateTime]="today.toISOString()" class="time-range-present">Present</time>
</div>
<section [style.border-left-color]="project.color" #content>
    <header><h1>{{ project.title }}</h1></header>
    <div [innerHTML]="project.contentHtml"></div>
    <small *ngIf="project.parent">Parent: {{ project.parent.id }}</small>
    <footer *ngIf="project.tags">
        <a *ngFor="let t of project.tags" [href]="t?.hyperlink">{{ t?.title }}</a>
    </footer>
</section>
