@use '../../styles';

:host {
  @extend %dis-block;
  @extend %pos-relative;

  &:not(:first-child) {
    @extend %mt-default;
  }

  &:not(:last-child) {
    @extend %mb-default;
  }

  .time-range {
    @extend %flex-h;
    @extend %justify-content-flex-start;
    @extend %pos-relative;
    @extend %p-tight;
    font-style: italic;
    color: styles.$color-foreground-muted;

    > * {
      @extend %ph-tight;
    }
  }

  section {
    @extend %pt-default;
    @extend %pb-tight;
    @extend %ph-default;
    @extend %pos-relative;
    background: styles.$color-content-background;
    border-radius: styles.$size-spacer;
    box-shadow: styles.$shadow;

    header {
      font-size: map_get(styles.$font-size-factors, 2) * styles.$size-root;
      @extend %sb-tight;
      border-bottom: 1px solid styles.$color-background-default;
    }

    ::ng-deep {
      h1 {
        font-size: map_get(styles.$font-size-factors, 3) * styles.$size-root
      }
      h2 {
        font-size: map_get(styles.$font-size-factors, 4) * styles.$size-root
      }
      h3 {
        font-size: map_get(styles.$font-size-factors, 5) * styles.$size-root
      }
      ol, ul {
        padding-left: styles.$size-root * 2;
      }
      p, ol, ul {
        @extend %mv-tight;
      }
    }

    footer {
      border-top: 1px dotted styles.$color-background-default;
      font-size: x-small;
      font-weight: 400;
      @extend %mt-cozy;
      @extend %pt-tight;
      @extend %flex-h;
      @extend %flex-wrap;
      @extend %justify-content-center;
      flex-wrap: wrap;

      > a {
        @extend %inflexible;
        background-color: white;
        display: inline-block;
        padding: styles.$size-spacer;
        margin: styles.$size-spacer;
        border: 1px solid styles.$color-background-accent;
        border-radius: styles.$size-spacer;
        color: styles.$color-font-default;

        &:hover {
          border-style: solid;
          border-width: 2px;
          margin: styles.$size-spacer - 1px;
          text-decoration: none;
        }
      }
    }
  }
}

