/* You can add global styles to this file, and also import other style files */
$color-foreground-accent: #ed8733;
$color-foreground-default: #476040;
$color-foreground-muted: #789174;
$color-background-default: #efeeea;
$color-background-accent: #d2dac3;
//$color-error: #b55139;
