@import '../../../theme';

:host {
  width: 100%;
  height: 100%;
  background-color: $gray-100;
}

footer {
  padding: $spacer 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  nav {
    @include make-container();

    @each $size in map_keys($container-max-widths) {
      @include media-breakpoint-up($size) {
        & {
          width: map_get($container-max-widths, $size);
        }
      }
    }
  }
}
