@use '../../../styles';

:host {
  display: block;
  position: relative;

  &:not(:first-child) {
    margin-top: map_get(styles.$spacers, 5);
  }

  &:not(:last-child) {
    margin-bottom: map_get(styles.$spacers, 5);
  }
}

.anchor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: map_get(styles.$spacers, 1);
  font-style: italic;

  > * {
    padding: map_get(styles.$spacers, 1) 0;
  }
}

section {
  padding: map_get(styles.$spacers, 5);
  position: relative;

  header {
    margin-bottom: map_get(styles.$spacers, 1);
    padding-bottom: map_get(styles.$spacers, 1);
    border-bottom: 1px solid styles.$gray-100;
  }
}

footer {
  border-top: thin dotted styles.$gray-100;
  margin-top: map_get(styles.$spacers, 5);
  padding-top: map_get(styles.$spacers, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  $border-width: 1px;
  > a {
    font-size: small;
    font-weight: styles.$font-weight-normal;
    flex: none;
    background-color: styles.$white;
    display: inline-block;
    padding: map_get(styles.$spacers, 1);
    margin: map_get(styles.$spacers, 1);
    border: $border-width solid styles.$gray-200;

    $border-width: 2px;
    &:hover {
      border-width: $border-width;
      margin: $border-width - ($border-width / 2);
      text-decoration: none;
    }
  }
}
