@use '../../styles';

:host {
  @extend %dim-viewport;

  $header-height: 50px;
  $footer-height: 50px;

  aj-header {
    @extend %pos-fixed;
    @extend %shadow-y;
    @extend %layer-chrome;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
  }

  div {
    @extend %s-none;
    @extend %pos-fixed;
    @extend %flex-v;
    @extend %align-items-center;
    overflow-y: scroll;
    top: $header-height;
    right: 0;
    bottom: 0;
    left: 0;

    main {
      @extend %s-default;
      @extend %flexible;
      @extend %pos-relative;
    }

    aj-footer {
      @extend %s-none;
      @extend %inflexible;
      @extend %pos-relative;
      height: $footer-height;
    }
  }
}
