@use '../../styles';

:host {
  @extend %size-viewport;

  $header-height: 50px;

  app-header {
    @extend %position-fixed;
    @extend %box-shadow-y;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
  }

  div {
    @extend %s-none;
    @extend %position-fixed;
    @extend %flex-container-vertical;
    @extend %align-items-center;
    z-index: auto;
    overflow-y: auto;
    top: $header-height;
    right: 0;
    bottom: 0;
    left: 0;

    main {
      @extend %s-default;
      @extend %flex-item-grow;
      @extend %position-relative;
      @extend %width-parent;
    }

    @media (min-width: styles.$breakpoint-phone-landscape) {
      main {
        width: styles.$breakpoint-phone-landscape;
      }
    }

    @media (min-width: styles.$breakpoint-tablet) {
      main {
        width: styles.$breakpoint-tablet;
      }
    }

    @media (min-width: styles.$breakpoint-desktop) {
      main {
        width: styles.$breakpoint-desktop;
      }
    }

    @media (min-width: styles.$breakpoint-desktop-widescreen) {
      main {
        width: styles.$breakpoint-desktop-widescreen;
      }
    }

    app-footer {
      @extend %s-none;
      @extend %flex-item-static;
      @extend %position-relative;
      @extend %height-min-content;
    }
  }
}
