$_cardinal: "top" "right" "bottom" "left";
$_cardinal_abbreviations: ("top": "t", "right": "r", "bottom": "b", "left": "l");
$_cardinal_combinations: ("vertical": ("top" "bottom"), "horizontal": ("right" "left"));
$_cardinal_combinations_abbreviations: ("vertical": "v", "horizontal": "h");

$_intercardinal: "top-left" "top-right" "bottom-right" "bottom-left";
$_intercardinal_abbreviations: ("top-left": "tl", "top-right": "tr", "bottom-right": "br", "bottom-left": "bl");
$_intercardinal_combinations: (
  "top": ("top-left" "top-right"),
  "right": ("top-right" "bottom-right"),
  "bottom": ("bottom-right" "bottom-left"),
  "left": ("bottom-left" "bottom-right")
);
// $_intercardinal_combinations_abbreviations: $_cardinal_combinations_abbreviations

$_all_combinations: map_merge($_cardinal_combinations, $_intercardinal_combinations);
$_all_abbreviations: map_merge(map_merge($_cardinal_abbreviations, $_cardinal_combinations_abbreviations), $_intercardinal_abbreviations);

@function cardinal() {
  @return $_cardinal;
}

@function cardinal_combinations() {
  @return map_keys($_cardinal_combinations);
}

@function cardinal_with_combinations() {
  @return join(cardinal(), map_keys(cardinal_combinations()));
}

@function intercardinal() {
  @return $_intercardinal;
}

@function intercardinal_combinations() {
  @return map_keys($_intercardinal_combinations);
}

@function intercardinal_with_combinations() {
  @return join(intercardinal(), map_keys(intercardinal_combinations()));
}

@function combination_to_directions($combination) {
  @if (map_has_key($_all_combinations, $combination)) {
    @return map_get($_all_combinations, $combination)
  }
  @error "Unknown combination: #{$combination}"
}

@function abbreviation($direction) {
  @if (map_has_key($_all_abbreviations, $direction)) {
    @return map_get($_all_abbreviations, $direction);
  }
  @error "Cannot find abbreviation for direction: #{$direction}"
}
