@use 'dimensions' as dim;

// https://developer.mozilla.org/en-US/docs/Glossary/Semantics#Semantic_elements
$elements-semantic: "article", "aside", "details", "figcaption", "figure","footer", "header", "main", "mark", "nav", "section", "summary", "time";

#{$elements-semantic} {
  @extend %s-none;
}

$elements-headings: "h1", "h2", "h3", "h4", "h5", "h6";

// https://developer.mozilla.org/en-US/docs/Web/HTML/Inline_elements
$elements-inline: "a", "abbr", "acronym", "audio", "b", "bdi", "bdo", "big", "br", "button", "canvas", "cite", "code", "data", "datalist", "del", "dfn", "em", "embed", "i", "iframe", "img", "input", "ins", "kbd", "label", "map", "mark", "meter", "noscript", "object", "output", "picture", "progress", "q", "ruby", "s", "samp", "script", "select", "slot", "small", "span", "strong", "sub", "sup", "svg", "template", "textarea", "time", "u", "tt", "var", "video", "wbr";
// https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
$elements-block: join($elements-headings, ("address", "article", "aside", "blockquote", "details", "dialog", "dd", "div", "dl", "dt", "fieldset", "figcaption", "figure", "footer", "form", "header", "hgroup", "hr", "li", "main", "nav", "ol", "p", "pre", "section", "table", "ul"));
$elements-hidden: "head";

//#{$elements-inline} {
//  display: inline;
//}
//
//#{$elements-block} {
//  display: block;
//}
//
//html > #{elements-hidden} {
//  display: none;
//}
//
//* {
//  display: inline-block;
//}
