$elements-headings: "h1", "h2", "h3", "h4", "h5", "h6" !default;
$elements-inline: "a", "abbr", "acronym", "audio", "b", "bdi", "bdo", "big", "br", "button", "canvas", "cite", "code", "data", "datalist", "del", "dfn", "em", "embed", "i", "iframe", "img", "input", "ins", "kbd", "label", "map", "mark", "meter", "noscript", "object", "output", "picture", "progress", "q", "ruby", "s", "samp", "script", "select", "slot", "small", "span", "strong", "sub", "sup", "svg", "template", "textarea", "time", "u", "tt", "var", "video", "wbr" !default;
$elements-block: "address", "article", "aside", "blockquote", "details", "dialog", "dd", "div", "dl", "dt", "fieldset", "figcaption", "figure", "footer", "form", "header", "hgroup", "hr", "li", "main", "nav", "ol", "p", "pre", "section", "table", "ul", "h1", "h2", "h3", "h4", "h5", "h6" !default;
$elements-semantic: "article", "aside", "details", "figcaption", "figure", "footer", "header", "main", "mark", "nav", "section", "summary", "time" !default;
$breakpoint-phone: 0px !default;
$breakpoint-phone-landscape: 576px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 992px !default;
$breakpoint-desktop-widescreen: 1200px !default;
$zindex-sticky: 1000000 !default;
$zindex-fixed: 2000000 !default;
$spacing-none: 0 !default;
$spacing-default: 8px !default;
$spacing-tight: 0.5 * $spacing-default !default;
$spacing-loose: 2 * $spacing-default !default;
$shadow-x: $spacing-default !default;
$shadow-y: $spacing-default !default;
$shadow-blur: $spacing-default / 2 !default;
$shadow-color: #65808080 !default;
$shadow: $shadow-x $shadow-y $shadow-blur $shadow-color !default;
%pt-none {
  padding-top: $spacing-none;
}

%pt-tight {
  padding-top: $spacing-tight;
}

%pt-default {
  padding-top: $spacing-default;
}

%pt-loose {
  padding-top: $spacing-loose;
}

%pr-none {
  padding-right: $spacing-none;
}

%pr-tight {
  padding-right: $spacing-tight;
}

%pr-default {
  padding-right: $spacing-default;
}

%pr-loose {
  padding-right: $spacing-loose;
}

%pb-none {
  padding-bottom: $spacing-none;
}

%pb-tight {
  padding-bottom: $spacing-tight;
}

%pb-default {
  padding-bottom: $spacing-default;
}

%pb-loose {
  padding-bottom: $spacing-loose;
}

%pl-none {
  padding-left: $spacing-none;
}

%pl-tight {
  padding-left: $spacing-tight;
}

%pl-default {
  padding-left: $spacing-default;
}

%pl-loose {
  padding-left: $spacing-loose;
}

%pv-none {
  @extend %pt-none;
  @extend %pb-none;
}

%pv-tight {
  @extend %pt-tight;
  @extend %pb-tight;
}

%pv-default {
  @extend %pt-default;
  @extend %pb-default;
}

%pv-loose {
  @extend %pt-loose;
  @extend %pb-loose;
}

%ph-none {
  @extend %pr-none;
  @extend %pl-none;
}

%ph-tight {
  @extend %pr-tight;
  @extend %pl-tight;
}

%ph-default {
  @extend %pr-default;
  @extend %pl-default;
}

%ph-loose {
  @extend %pr-loose;
  @extend %pl-loose;
}

%p-none {
  @extend %pt-none;
  @extend %pr-none;
  @extend %pb-none;
  @extend %pl-none;
}

%p-tight {
  @extend %pt-tight;
  @extend %pr-tight;
  @extend %pb-tight;
  @extend %pl-tight;
}

%p-default {
  @extend %pt-default;
  @extend %pr-default;
  @extend %pb-default;
  @extend %pl-default;
}

%p-loose {
  @extend %pt-loose;
  @extend %pr-loose;
  @extend %pb-loose;
  @extend %pl-loose;
}

%mt-none {
  margin-top: $spacing-none;
}

%mt-tight {
  margin-top: $spacing-tight;
}

%mt-default {
  margin-top: $spacing-default;
}

%mt-loose {
  margin-top: $spacing-loose;
}

%mt-auto {
  margin-top: auto;
}

%mr-none {
  margin-right: $spacing-none;
}

%mr-tight {
  margin-right: $spacing-tight;
}

%mr-default {
  margin-right: $spacing-default;
}

%mr-loose {
  margin-right: $spacing-loose;
}

%mr-auto {
  margin-right: auto;
}

%mb-none {
  margin-bottom: $spacing-none;
}

%mb-tight {
  margin-bottom: $spacing-tight;
}

%mb-default {
  margin-bottom: $spacing-default;
}

%mb-loose {
  margin-bottom: $spacing-loose;
}

%mb-auto {
  margin-bottom: auto;
}

%ml-none {
  margin-left: $spacing-none;
}

%ml-tight {
  margin-left: $spacing-tight;
}

%ml-default {
  margin-left: $spacing-default;
}

%ml-loose {
  margin-left: $spacing-loose;
}

%ml-auto {
  margin-left: auto;
}

%mv-none {
  @extend %mt-none;
  @extend %mb-none;
}

%mv-tight {
  @extend %mt-tight;
  @extend %mb-tight;
}

%mv-default {
  @extend %mt-default;
  @extend %mb-default;
}

%mv-loose {
  @extend %mt-loose;
  @extend %mb-loose;
}

%mh-none {
  @extend %mr-none;
  @extend %ml-none;
}

%mh-tight {
  @extend %mr-tight;
  @extend %ml-tight;
}

%mh-default {
  @extend %mr-default;
  @extend %ml-default;
}

%mh-loose {
  @extend %mr-loose;
  @extend %ml-loose;
}

%m-none {
  @extend %mt-none;
  @extend %mr-none;
  @extend %mb-none;
  @extend %ml-none;
}

%m-tight {
  @extend %mt-tight;
  @extend %mr-tight;
  @extend %mb-tight;
  @extend %ml-tight;
}

%m-default {
  @extend %mt-default;
  @extend %mr-default;
  @extend %mb-default;
  @extend %ml-default;
}

%m-loose {
  @extend %mt-loose;
  @extend %mr-loose;
  @extend %mb-loose;
  @extend %ml-loose;
}

%st-none {
  @extend %mt-none;
  @extend %pt-none;
}

%st-tight {
  @extend %mt-tight;
  @extend %pt-tight;
}

%st-default {
  @extend %mt-default;
  @extend %pt-default;
}

%st-loose {
  @extend %mt-loose;
  @extend %pt-loose;
}

%sr-none {
  @extend %mr-none;
  @extend %pr-none;
}

%sr-tight {
  @extend %mr-tight;
  @extend %pr-tight;
}

%sr-default {
  @extend %mr-default;
  @extend %pr-default;
}

%sr-loose {
  @extend %mr-loose;
  @extend %pr-loose;
}

%sb-none {
  @extend %mb-none;
  @extend %pb-none;
}

%sb-tight {
  @extend %mb-tight;
  @extend %pb-tight;
}

%sb-default {
  @extend %mb-default;
  @extend %pb-default;
}

%sb-loose {
  @extend %mb-loose;
  @extend %pb-loose;
}

%sl-none {
  @extend %ml-none;
  @extend %pl-none;
}

%sl-tight {
  @extend %ml-tight;
  @extend %pl-tight;
}

%sl-default {
  @extend %ml-default;
  @extend %pl-default;
}

%sl-loose {
  @extend %ml-loose;
  @extend %pl-loose;
}

%sh-none {
  @extend %sr-none;
  @extend %sl-none;
}

%sh-tight {
  @extend %sr-tight;
  @extend %sl-tight;
}

%sh-default {
  @extend %sr-default;
  @extend %sl-default;
}

%sh-loose {
  @extend %sr-loose;
  @extend %sl-loose;
}

%s-none {
  @extend %st-none;
  @extend %sr-none;
  @extend %sb-none;
  @extend %sl-none;
}

%s-tight {
  @extend %st-tight;
  @extend %sr-tight;
  @extend %sb-tight;
  @extend %sl-tight;
}

%s-default {
  @extend %st-default;
  @extend %sr-default;
  @extend %sb-default;
  @extend %sl-default;
}

%s-loose {
  @extend %st-loose;
  @extend %sr-loose;
  @extend %sb-loose;
  @extend %sl-loose;
}

%sv-none {
  @extend %st-none;
  @extend %sb-none;
}

%sv-tight {
  @extend %st-tight;
  @extend %sb-tight;
}

%sv-default {
  @extend %st-default;
  @extend %sb-default;
}

%sv-loose {
  @extend %st-loose;
  @extend %sb-loose;
}

%height-auto {
  height: auto;
}

%height-parent {
  height: 100%;
}

%height-min-content {
  height: min-content;
}

%height-max-content {
  height: max-content;
}

%height-viewport {
  height: 100vh;
}

$border-width-none: 0 !default;
$border-width-thin: 1px !default;
$border-width-medium: 2px !default;
$border-width-thick: 4px !default;
%border-width-none {
  border-width: $border-width-none;
}

%border-width-thin {
  border-width: $border-width-thin;
}

%border-width-medium {
  border-width: $border-width-medium;
}

%border-width-thick {
  border-width: $border-width-thick;
}

%border-top-width-none {
  border-top-width: $border-width-none;
}

%border-top-width-thin {
  border-top-width: $border-width-thin;
}

%border-top-width-medium {
  border-top-width: $border-width-medium;
}

%border-top-width-thick {
  border-top-width: $border-width-thick;
}

%border-right-width-none {
  border-right-width: $border-width-none;
}

%border-right-width-thin {
  border-right-width: $border-width-thin;
}

%border-right-width-medium {
  border-right-width: $border-width-medium;
}

%border-right-width-thick {
  border-right-width: $border-width-thick;
}

%border-bottom-width-none {
  border-bottom-width: $border-width-none;
}

%border-bottom-width-thin {
  border-bottom-width: $border-width-thin;
}

%border-bottom-width-medium {
  border-bottom-width: $border-width-medium;
}

%border-bottom-width-thick {
  border-bottom-width: $border-width-thick;
}

%border-left-width-none {
  border-left-width: $border-width-none;
}

%border-left-width-thin {
  border-left-width: $border-width-thin;
}

%border-left-width-medium {
  border-left-width: $border-width-medium;
}

%border-left-width-thick {
  border-left-width: $border-width-thick;
}

%border-style-none {
  border-style: none;
}

%border-style-hidden {
  border-style: hidden;
}

%border-style-dotted {
  border-style: dotted;
}

%border-style-dashed {
  border-style: dashed;
}

%border-style-solid {
  border-style: solid;
}

%border-style-double {
  border-style: double;
}

%border-style-groove {
  border-style: groove;
}

%border-style-ridge {
  border-style: ridge;
}

%border-style-inset {
  border-style: inset;
}

%border-style-outset {
  border-style: outset;
}

%border-top-style-none {
  border-top-style: none;
}

%border-top-style-hidden {
  border-top-style: hidden;
}

%border-top-style-dotted {
  border-top-style: dotted;
}

%border-top-style-dashed {
  border-top-style: dashed;
}

%border-top-style-solid {
  border-top-style: solid;
}

%border-top-style-double {
  border-top-style: double;
}

%border-top-style-groove {
  border-top-style: groove;
}

%border-top-style-ridge {
  border-top-style: ridge;
}

%border-top-style-inset {
  border-top-style: inset;
}

%border-top-style-outset {
  border-top-style: outset;
}

%border-right-style-none {
  border-right-style: none;
}

%border-right-style-hidden {
  border-right-style: hidden;
}

%border-right-style-dotted {
  border-right-style: dotted;
}

%border-right-style-dashed {
  border-right-style: dashed;
}

%border-right-style-solid {
  border-right-style: solid;
}

%border-right-style-double {
  border-right-style: double;
}

%border-right-style-groove {
  border-right-style: groove;
}

%border-right-style-ridge {
  border-right-style: ridge;
}

%border-right-style-inset {
  border-right-style: inset;
}

%border-right-style-outset {
  border-right-style: outset;
}

%border-bottom-style-none {
  border-bottom-style: none;
}

%border-bottom-style-hidden {
  border-bottom-style: hidden;
}

%border-bottom-style-dotted {
  border-bottom-style: dotted;
}

%border-bottom-style-dashed {
  border-bottom-style: dashed;
}

%border-bottom-style-solid {
  border-bottom-style: solid;
}

%border-bottom-style-double {
  border-bottom-style: double;
}

%border-bottom-style-groove {
  border-bottom-style: groove;
}

%border-bottom-style-ridge {
  border-bottom-style: ridge;
}

%border-bottom-style-inset {
  border-bottom-style: inset;
}

%border-bottom-style-outset {
  border-bottom-style: outset;
}

%border-left-style-none {
  border-left-style: none;
}

%border-left-style-hidden {
  border-left-style: hidden;
}

%border-left-style-dotted {
  border-left-style: dotted;
}

%border-left-style-dashed {
  border-left-style: dashed;
}

%border-left-style-solid {
  border-left-style: solid;
}

%border-left-style-double {
  border-left-style: double;
}

%border-left-style-groove {
  border-left-style: groove;
}

%border-left-style-ridge {
  border-left-style: ridge;
}

%border-left-style-inset {
  border-left-style: inset;
}

%border-left-style-outset {
  border-left-style: outset;
}

%zindex-sticky {
  z-index: 1000000;
}

%zindex-fixed {
  z-index: 2000000;
}

%display-none {
  display: none;
}

%display-inline {
  display: inline;
}

%display-inline-block {
  display: inline-block;
}

%display-block {
  display: block;
}

%display-flex {
  display: flex;
}

%display-grid {
  display: grid;
}

%position-static {
  position: static;
}

%position-relative {
  position: relative;
}

%position-absolute {
  position: absolute;
}

%position-fixed {
  position: fixed;
  @extend %zindex-fixed;
}

%position-sticky {
  position: sticky;
  @extend %zindex-sticky;
}

%justify-content-start {
  justify-content: start;
}

%justify-content-end {
  justify-content: end;
}

%justify-content-flex-start {
  justify-content: flex-start;
}

%justify-content-flex-end {
  justify-content: flex-end;
}

%justify-content-center {
  justify-content: center;
}

%justify-content-space-between {
  justify-content: space-between;
}

%justify-content-space-around {
  justify-content: space-around;
}

%justify-content-space-evenly {
  justify-content: space-evenly;
}

%align-items-flex-start {
  align-items: flex-start;
}

%align-items-flex-end {
  align-items: flex-end;
}

%align-items-center {
  align-items: center;
}

%align-items-start {
  align-items: start;
}

%align-items-end {
  align-items: end;
}

%align-items-baseline {
  align-items: baseline;
}

%flex-container {
  @extend %display-flex;
  &-horizontal {
    flex-direction: row;
    @extend %flex-container;
  }

  &-vertical {
    flex-direction: column;
    @extend %flex-container;
  }

  > #{$elements-inline} {
    @extend %display-inline-block;
  }

}

%flex-item-shrink {
  flex-shrink: 1;
}

%flex-item-grow {
  flex-grow: 1;
}

%flex-item-no-shrink {
  flex-shrink: 0;
}

%flex-item-no-grow {
  flex-grow: 0;
}

%flex-item-static {
  @extend %flex-item-no-shrink;
  @extend %flex-item-no-grow;
}

%flex-item-dynamic {
  @extend %flex-item-shrink;
  @extend %flex-item-grow;
}

%width-auto {
  width: auto;
}

%width-parent {
  width: 100%;
}

%width-min-content {
  width: min-content;
}

%width-max-content {
  width: max-content;
}

%width-viewport {
  width: 100vw;
}

%height-auto {
  height: auto;
}

%height-parent {
  height: 100%;
}

%height-min-content {
  height: min-content;
}

%height-max-content {
  height: max-content;
}

%height-viewport {
  height: 100vh;
}

%size-auto {
  @extend %height-auto;
  @extend %width-auto;
}

%size-parent {
  @extend %height-parent;
  @extend %width-parent;
}

%size-min-content {
  @extend %height-min-content;
  @extend %width-min-content;
}

%size-max-content {
  @extend %height-max-content;
  @extend %width-max-content;
}

%size-viewport {
  @extend %height-viewport;
  @extend %width-viewport;
}

%box-shadow {
  box-shadow: $shadow;
}

%box-shadow-none {
  box-shadow: $spacing-none $spacing-none $shadow-blur $shadow-color;
}

%box-shadow-tight {
  box-shadow: $spacing-tight $spacing-tight $shadow-blur $shadow-color;
}

%box-shadow-default {
  box-shadow: $spacing-default $spacing-default $shadow-blur $shadow-color;
}

%box-shadow-loose {
  box-shadow: $spacing-loose $spacing-loose $shadow-blur $shadow-color;
}

%box-shadow-x {
  box-shadow: $shadow-x  0 $shadow-blur $shadow-color;
}

%box-shadow-x-none {
  box-shadow: $spacing-none 0 $shadow-blur $shadow-color;
}

%box-shadow-x-tight {
  box-shadow: $spacing-tight 0 $shadow-blur $shadow-color;
}

%box-shadow-x-default {
  box-shadow: $spacing-default 0 $shadow-blur $shadow-color;
}

%box-shadow-x-loose {
  box-shadow: $spacing-loose 0 $shadow-blur $shadow-color;
}

%box-shadow-y {
  box-shadow: 0 $shadow-y $shadow-blur $shadow-color;
}

%box-shadow-y-none {
  box-shadow: 0 $spacing-none $shadow-blur $shadow-color;
}

%box-shadow-y-tight {
  box-shadow: 0 $spacing-tight $shadow-blur $shadow-color;
}

%box-shadow-y-default {
  box-shadow: 0 $spacing-default $shadow-blur $shadow-color;
}

%box-shadow-y-loose {
  box-shadow: 0 $spacing-loose $shadow-blur $shadow-color;
}
