@use 'dimensions';
@import 'reset';

html, body {
  @extend %dim-viewport;
}

%flex {
  @extend %dis-flex;
}

%flex-v {
  @extend %flex;
  flex-direction: column;
}

%flex-h {
  @extend %flex;
  flex-direction: row;
}

%flex-wrap {
  flex-wrap: wrap;
}

%justify-content-space-around {
  justify-content: space-around;
}

%justify-content-space-between {
  justify-content: space-between;
}

%justify-content-center {
  justify-content: center;
}

%justify-content-flex-start {
  justify-content: flex-start;
}

%justify-content-flex-end {
  justify-content: flex-end;
}

%flexible {
  flex-grow: 1;
  flex-shrink: 1;
}

%inflexible {
  flex-grow: 0;
  flex-shrink: 0;
}
