@use 'dimensions';
@use 'variables';
@import 'reset';

html, body {
  @extend %dim-viewport;
}

%flex {
  @extend %dis-flex;
}

%flex-v {
  @extend %flex;
  flex-direction: column;
}

%flex-h {
  @extend %flex;
  flex-direction: row;
}

%flex-wrap {
  flex-wrap: wrap;
}

%justify-content-space-around {
  justify-content: space-around;
}

%justify-content-space-between {
  justify-content: space-between;
}

%justify-content-center {
  justify-content: center;
}

%justify-content-flex-start {
  justify-content: flex-start;
}

%justify-content-flex-end {
  justify-content: flex-end;
}

%align-items-center {
  align-items: center;
}

%flexible {
  flex-grow: 1;
  flex-shrink: 1;
}

%inflexible {
  flex-grow: 0;
  flex-shrink: 0;
}

body {
  min-width: variables.$minimum-screen-width;
}

.content-container {
  width: 100%;
}

@media(min-width: variables.$bp-phone) {
  .content-container {
    width: variables.$bp-phone;
  }
}

@media(min-width: variables.$bp-tablet) {
  .content-container {
    width: variables.$bp-tablet;
  }
}

@media(min-width: variables.$bp-desktop) {
  .content-container {
    width: variables.$bp-desktop;
  }
}

//@media(min-width: variables.$bp-widescreen) {
//  //.content-container {
//  //  width: variables.$bp-widescreen;
//  //}
//}
