@use 'variables' as v;
@use 'dimensions' as d;

:root {
  font-size: v.$size-root;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  h1, h2, b, strong {
    color: v.$color-foreground-default;
    font-weight: 400;
  }

  h1, h2 {
    @extend %pt-tight;
  }

  h3, h4, h5, h6 {
    font-weight: 300;
  }
}

body {
  color: v.$color-font-default;
  background-color: v.$color-background-default;
}

a {
  text-decoration: none;
  color: v.$color-foreground-accent;
  //color: darken(v.$color-foreground-accent, 10%);
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}
