@use 'variables' as v;
@use 'helpers';

:root {
  font-size: v.$size-root;
  font-family: 'Roboto', sans-serif;
  font-weight: v.$font-weight-normal;

  h2, b, strong {
    color: v.$color-foreground-default;
    font-weight: v.$font-weight-bold;
  }

  h1, h2 {
    @extend %pt-default;
    @extend %mb-tight;
  }

  h3 {
    font-weight: v.$font-weight-bold;
  }

  h1, h2, h4, h5, h6 {
    font-weight: v.$font-weight-normal;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.33rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h3, h4, h5, h6 {
    font-size: 1rem;
  }
}

body {
  color: v.$color-font-default;
  background-color: v.$color-background-default;
}

a {
  text-decoration: none;
  color: v.$color-semantic-passive-action;
  font-weight: v.$font-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}
