@use 'variables' as v;

:root {
  font-size: v.$size-root;
}

body {
  color: v.$color-foreground-default;
  background-color: v.$color-background-default;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: v.$color-foreground-accent;

  &:hover {
    text-decoration: underline;
  }
}
