// colors
$color-foreground-accent: #ed8733 !default;
$color-foreground-default: #476040 !default;
$color-foreground-muted: #585858 !default;
$color-semantic-primary-action: $color-foreground-accent !default;
$color-semantic-passive-action: $color-foreground-muted !default;
$color-font-default: #000000 !default;
$color-font-accent: $color-foreground-default !default;
$color-font-muted: $color-foreground-muted !default;
$color-content-background: #ffffff !default;
$color-background-default: #efeeea !default;
$color-background-accent: #d2dac3 !default;
$color-shadow: #65808080 !default;

$size-root: 16px !default;

// weights
$font-weight-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;
