@import '../../theme';
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/list-group";

.card {
  box-shadow: $box-shadow;
}

.card-link {
  img {
    width: 50px;
  }
}

.card-footer {
  display: flex;
  justify-content: space-around;
}

.list-group-item {
  padding: 0;
  border: none;

  &:first-of-type {
    padding-top: 0;
  }
}
