<article class="card">
  <img class="card-img-top" src="assets/san_diego_cropped.jpg" alt="profile picture" />
  <div class="card-body">
    <h1 class="card-title">Aaron Jensen</h1>
    <p class="card-text">
      Full-stack software developer.
      Experienced in healthcare IT and financial services.
      Proficient with a variety of technologies.
    </p>
    <h2>Awards & Achievements</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <app-award [title]="'Overall Dedication to Product'" [year]="2017">
          In 2017, I was awarded the <i>Overall Dedication to Product</i> on the
          <a href="https://www.epic.com/software#Cosmos">Cosmos</a>
          team at <a href="https://www.epic.com/">Epic Systems</a>.
        </app-award>
      </li>
      <li class="list-group-item">
        <app-award [title]="'Most Issues Fixed'" [year]="2016">
          In 2016, I fixed the most outstanding issues on the
          <a href="https://www.epic.com/software#PopulationHealth">Healthy Planet</a>
          team at <a href="https://www.epic.com/">Epic Systems</a>.
        </app-award>
      </li>
      <li class="list-group-item">
        <app-award [title]="'High Honors'" [year]="2015">
          In 2015, I graduated from <a href="https://www.uwlax.edu/">UW — La Crosse</a> with <i>High Honors</i>.
          I was on the <i>Dean's List</i> for all of my 8 semesters there.
        </app-award>
      </li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    <a href="https://github.com/ajjensen13/" class="card-link">
      <img src="assets/github_logo.png" alt="GitHub logo" />
    </a>
    <a href="https://www.linkedin.com/in/ajensen1993/" class="card-link">
      <img src="assets/linkedin_logo.png" alt="LinkedIn logo" />
    </a>
  </div>
</article>
